# R session files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rapp.history

# Exclude specific files
duke_run_local.R
duke_run_local-fs.R

# Exclude specific folders
/demo/
/logs/
/archive/
/lib/archive/
/dev_files/

# Temporary files
*.tmp

# macOS system junk
.DS_Store
