# R session files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rapp.history

# Exclude specific files
/scripts/duke_run_local.R
/scripts/duke_run_local-fs.R
scripts/duke_run_temp.R

# Exclude specific folders
/demo/
/logs/
/archive/
/lib/archive/
/dev_files/
/scripts/archive/
/modules/archive/

# Temporary files
*.tmp

# macOS system junk
.DS_Store
